<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

 <form   action="http://localhost:3000/UploadFile" method="POST" enctype="multipart/form-data" >
     <input type="file" name="file"  id="file">
 	<button type="submit" name="submit">Upload</button>
 </form> 

</body>
</html>